student.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT studentList (student+)>
<!ELEMENT student (firstname, lastname, certificate, scores)>
<!ELEMENT firstname (#PCDATA)>
<!ELEMENT lastname (#PCDATA)>
<!ELEMENT certificate (#PCDATA)>
<!ELEMENT scores (module1, module2, module3)>
<!ELEMENT module1 (#PCDATA)>
<!ELEMENT module2 (#PCDATA)>
<!ELEMENT module3 (#PCDATA)>
<!ATTLIST student id CDATA #REQUIRED>
